<div class="panel panel-default">
    <div class="panel-heading">Tris possibles</div>
    <div class="panel-body">

        <div align="center">
            <multiselect class="input-lg" multiple="true"
                         ng-model="selection.cantons" ms-header="Filtre par Canton"
                         ms-selected="{{selection.cantons.length}} canton(s) choisi(s)"
                         options="canton.name for canton in filters.cantons"
                         change="changeSelection()"></multiselect>
            <multiselect class="input-lg" multiple="true"
                         ng-model="selection.councils" ms-header="Filtre par Conseil"
                         ms-selected="{{selection.councils.length}} council(s) choisi(s)"
                         options="council.name for council in filters.councils"
                         change="changeSelection()"></multiselect>
            <multiselect class="input-lg" multiple="true"
                         ng-model="selection.factions" ms-header="Filtre par Groupe"
                         ms-selected="{{selection.factions.length}} faction(s) choisie(s)"
                         options="faction.name for faction in filters.factions"
                         change="changeSelection()"></multiselect>
            <multiselect class="input-lg" multiple="true"
                         ng-model="selection.languages" ms-header="Filtre par Langue"
                         ms-selected="{{selection.languages.length}} langue(s) choisie(s)"
                         options="language.id for language in filters.languages"
                         change="changeSelection()"></multiselect>
            <multiselect class="input-lg" multiple="true"
                         ng-model="selection.parties" ms-header="Filtre par Parti"
                         ms-selected="{{selection.parties.length}} parti(s) choisi(s)"
                         options="party.name for party in filters.parties"
                         change="changeSelection()"></multiselect>
        </div>

    </div>

    {{selection}}
</div>